[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/xinwu
[access "refs/for/refs/*"]
	read = group user/xinwu
	push = group user/xinwu
	label-Code-Review = -2..+2 group user/xinwu
	label-Verified = -1..+1 group user/xinwu
	rebase = group user/xinwu
	removeReviewer = group user/xinwu
	submit = group user/xinwu
[access "refs/heads/*"]
	read = group user/xinwu
	create = group user/xinwu
	push = +force group user/xinwu
	pushMerge = group user/xinwu
[access "refs/tags/*"]
	push = +force group user/xinwu
	pushTag = group user/xinwu
	pushSignedTag = group user/xinwu
